.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Css for container */

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.images img {
  width: 680px;
  height: 360px;
}
.splide__pagination {
  counter-reset: pagination-num;
  padding-top: 30px;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}
